body{
  display: flex;
  justify-content: center;
  background-image: url(../assets/space_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#myCanvas{
  position: relative;
  top: 100px;
  border: 3px solid white;
  border-radius: 5px;
  background-image: url(../assets/game_background.png);
}

.score-box{
  border: 3px solid white;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  margin-right: 50px;
  margin-top: 50px;
  color: white;
  font-family: 'Source Code Pro', monospace;
}

#instruction-background{
  position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 10;
   display: none;
}

#instruction-container-top{
  background-color: white;
   position: absolute;
   border-radius: 5px;
   width: 350px;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Source Code Pro', monospace;
   padding: 20px;
   border: 3px solid black;
}

#instructions{
  font-family: 'Source Code Pro', monospace;
  color: white;
  border: 3px solid white;
  padding-left: 15px;
  border-radius: 5px;
}

#instructions:hover{
  transition: 0.7s;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 3px solid rgb(41, 41, 41);
}

#start-game-page{
  position: absolute;
  background-image: url(../assets/space_corridor.jpg);
  width: 400px;
  height: 600px;
  top: 111px;

}
.start-game-text{
  margin-top: 260px;
  margin-left: 47px;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Source Code Pro', monospace;
 
}